/* 
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 */

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/*  menu and hero */

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: transparent !important;
}

.navbar-nav .nav-link {
  color: rgb(20, 201, 247) !important;
}

#hero {
  background-image: url('/pics/dummy02.webp');
  background-size: cover;
  background-position: center;
  color: rgb(20, 201, 247);
  text-align: center;
  padding: 100px 0;
}

#hero h1 {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

#hero .btn-primary {
  background-color: #ff7f0e;
  border-color: #ff7f0e;
}

#hero .btn-primary:hover {
  background-color: #ff5f0e;
  border-color: #ff5f0e;
}



/* Set margins and paddings for different sections */
section {
  padding: 50px 0; /* Adjust padding as needed */
}

/* Add parallax background stripes */
.parallax-bg {
  background-image: url('../pics/ar02.jpg'); /* Adjust image path */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/* Style specific sections as needed */
.hero-section {
  margin-top: 100px; /* Adjust margin top for hero section */
  padding: 100px 0; /* Adjust padding as needed */
  text-align: center; /* Center text */
}

.services-section {
  background-color: #f9f9f9; /* Light background color for services section */
}

.about-section {
  background-color: #f0f0f0; /* Light background color for about section */
}

.contact-section {
  background-color: #eaeaea; /* Light background color for contact section */
}

